<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/axios.js"></script>

    </head>
    <body>
        <main>
     
            <h1>Add a New Product</h1>

            <fieldset>
                <legend>Product Details</legend>
                <form @submit.prevent="addAccount()">
  
                    <label>Username:</label><input type="text" v-model="account.username">
                    <label>Email</label><input type="text" v-model="account.email">
                    <label>Firstname</label><input type="text" v-model="account.firstName">
                    <label>Lastname</label><input type="text" v-model="account.lastName">
                    <button>Signup</button>
                </form>
            </fieldset>
        </main>
        <script type="module" src="js/accounts.js"></script>
    </body>
</html>
